extends layout

block content
  .jumbotron
    img.pull-right(src='img/chess-coin.png')
    h1 Chess Coins
    h2 Mastercoin based chess league
    p.lead
      | Play chess against the computer or other people.
      br
      | Earn chess coins which determines your ranking.
      br
      | Verify your ranking in controlled tournaments.
    p
      | Detailed play history for every player is stored on the distributed blockchain.
    p
      | Start now:  
      a.btn.btn-lg.btn-primary(href='/login') Login
      |  or 
      a.btn.btn-lg.btn-info(href='/signup') Signup


