extends layout

block content
  .jumbotron
    img.pull-right(src='img/chess-coin.png')
    h1 Chess Coins
    p.lead
      | Play chess and earn chess coins.
      br
      | Play against the computer on other people.